<a href="https://colab.research.google.com/github/vanhau8562/AI-/blob/main/AI_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open('text.txt',mode='w') as accounts:
  accounts.write('1 Nguyen Van A 8.0\n')
  accounts.write('2 Le Thi B 6.8\n')

In [ ]:
with open('text1.txt', mode='w') as accounts:
   print('7:00 Nguyen Van A' ,file =accounts)
   print('7:01 Le Thi B',file=accounts)

In [ ]:
with open ('text.txt',mode='v') as accounts:
   print(f'{'name':<20} {'score':>20 }')
   for record in accounts:
    name, score = record.split()
    print(f'{name:<20} {score:>20}'

SyntaxError: ignored

In [ ]:
import pandas as pd
url= 'Book2.csv'
dataframe = pd.read_csv(url)
dataframe.head(10)

   stt      mssv   ho va ten  diem
0    1  20104054  Tran Van A  10.0
1    2  20104055  Tran Van B   9.9
2    3  20104056  Tran Van C   9.8
3    4  20104057  Tran Van D   9.7
4    5  20104058  Tran Van E   9.6
5    6  20104059  Tran Van F   9.5
6    7  20104060  Tran Van G   9.4
7    8  20104061  Tran Van H   9.3
8    9  20104062  Tran Van K   9.2
9   10  20104063  Tran Van L   9.1

In [ ]:
import pandas as pd
dataframe=pd.DataFrame()
dataframe['Name']=['Nguyen Van A','Le Thi B']
dataframe['Student IP']=[20104002,20104001]
dataframe['Score']=[8.0,9.0]
dataframe

           Name  Student IP  Score
0  Nguyen Van A    20104002    8.0
1      Le Thi B    20104001    9.0

In [ ]:
import pandas as pd
url = 'Book2.csv'
dataframe=pd.read_csv(url)
dataframe.head(10)
dataframe.iloc[5:9]

   stt      mssv   ho va ten  diem
5    6  20104059  Tran Van F   9.5
6    7  20104060  Tran Van G   9.4
7    8  20104061  Tran Van H   9.3
8    9  20104062  Tran Van K   9.2

In [ ]:
import pandas as pd
url = 'Book2.csv'
dataframe=pd.read_csv(url)
dataframe.head(10)
dataframe.iloc[:3]

   stt      mssv   ho va ten  diem
0    1  20104054  Tran Van A  10.0
1    2  20104055  Tran Van B   9.9
2    3  20104056  Tran Van C   9.8

In [ ]:
import pandas as pd
url = 'Book3.csv'
dataframe=pd.read_csv(url)
dataframe.head(10)
dataframe.iloc[:3]
dataframe = dataframe.set_index(dataframe['ho va ten'])
dataframe.loc['Tran Van B']

            stt      mssv   ho va ten  diem
ho va ten
Tran Van B    2  20104055  Tran Van B   9.9
Tran Van B   10  20104063  Tran Van B   9.1

In [ ]:
import pandas as pd
url = 'Book4.csv'
dataframe=pd.read_csv(url)
dataframe.head(10)
dataframe[dataframe['khoa']=='CKM'].head(5)

   stt      mssv   ho va ten  diem khoa
0    1  20104054  Tran Van A  10.0  CKM
2    3  20104056  Tran Van C   9.8  CKM
4    5  20104058  Tran Van E   9.6  CKM
6    7  20104060  Tran Van G   9.4  CKM
8    9  20104062  Tran Van K   9.2  CKM

In [ ]:
import pandas as pd
url = 'Book4.csv'
dataframe=pd.read_csv(url)
dataframe.head(10)
dataframe[(dataframe['khoa'] == 'CLC') & (dataframe['mssv'] >=200000) & (dataframe['diem']>=7)]

   stt      mssv   ho va ten  diem khoa
1    2  20104055  Tran Van B   9.9  CLC
3    4  20104057  Tran Van D   9.7  CLC
5    6  20104059  Tran Van F   9.5  CLC
7    8  20104061  Tran Van H   9.3  CLC

In [ ]:
import pandas as pd
url = 'Book4.csv'
dataframe=pd.read_csv(url)
dataframe.head(10)
dataframe.drop('khoa', axis=1).head(10)

   stt      mssv   ho va ten  diem
0    1  20104054  Tran Van A  10.0
1    2  20104055  Tran Van B   9.9
2    3  20104056  Tran Van C   9.8
3    4  20104057  Tran Van D   9.7
4    5  20104058  Tran Van E   9.6
5    6  20104059  Tran Van F   9.5
6    7  20104060  Tran Van G   9.4
7    8  20104061  Tran Van H   9.3
8    9  20104062  Tran Van K   9.2
9   10  20104063  Tran Van B   9.1

In [ ]:
import pandas as pd
url = 'Book5.csv'
dataframe=pd.read_csv(url)
dataframe.head(10)
dataframe.groupby('nam').mean()

            stt          mssv      diem
nam
2010   4.666667  2.010406e+07  9.633333
2011   2.000000  2.010406e+07  9.900000
2012   3.000000  2.010406e+07  9.800000
2013   4.000000  2.010406e+07  9.700000
2015   6.000000  2.010406e+07  9.500000
2016   7.000000  2.010406e+07  9.400000
2018   9.000000  2.010406e+07  9.200000
2019  10.000000  2.010406e+07  9.100000

In [ ]:
import pandas as pd
url = 'Book5.csv'
dataframe=pd.read_csv(url)
dataframe.head(10)
dataframe.groupby('nam').count()

      stt  mssv  ho va ten  diem
nam
2010    3     3          3     3
2011    1     1          1     1
2012    1     1          1     1
2013    1     1          1     1
2015    1     1          1     1
2016    1     1          1     1
2018    1     1          1     1
2019    1     1          1     1

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
dataframe=pd.read_csv(url)
dataframe.head(10)
dataframe.iloc[:3]
dataframe = dataframe.set_index(dataframe['NOC'])
dataframe.loc['USA']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
USA,1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
USA,1924,Chamonix,Skating,Figure skating,USA,individual,W,Silver
USA,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
USA,1924,Chamonix,Skiing,Ski Jumping,USA,K90 individual (70m),M,Bronze
USA,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold
...,...,...,...,...,...,...,...,...
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
data.head(10)
data[data['Medal'] =='Silver'].head(5)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
11,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Silver

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
data
data['NOC'].unique()

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)